---
layout: default
text-headline-featured: mattresses
text-headline: you will love
text-subline: choose your way of sleeping
features:
-   icon: fa-solid fa-cloud
    description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quas enim ratione voluptate provident sint, sit assumenda natus exercitationem aliquam similique? Rerum laboriosam quidem sunt incidunt aspernatur libero, optio iste.
-   icon: fa-solid fa-star
    description: Ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quas enim ratione voluptate provident sint, sit assumenda natus exercitationem aliquam similique? Rerum laboriosam quidem sunt incidunt aspernatur libero, optio iste.
-   icon: fa-solid fa-umbrella
    description: Dolor sit amet consectetur, adipisicing elit. Nostrum quas enim ratione voluptate provident sint, sit assumenda natus exercitationem aliquam similique? Rerum laboriosam quidem sunt incidunt aspernatur libero, optio iste.
-   icon: fa-solid fa-tag
    description: Sit amet consectetur, adipisicing elit. Nostrum quas enim ratione voluptate provident sint, sit assumenda natus exercitationem aliquam similique? Rerum laboriosam quidem sunt incidunt aspernatur libero, optio iste.
---
  <!------------------ Header Banner------------------>
    {% include header-banner.html %}
<!------------------ features Icon Grid ------------------>
<section class="padded grid-center bg-dark">
    <div class="padded-sm col-12 text-center">
       <h2> <span class="featured-text">features</span> you will love</h2> 
    </div>
    {% for item in page.features %}
    <div class="padded-sm col-3 text-left">
        <i class="{{item.icon}}"></i>
        <p> {{item.description}}</p>
    </div>
    {% endfor %}

</section>